@charset "UFT-8";

/*Fonte Importada do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0e68c67;
    background-image: url(imagens/designer2.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    
    text-align: center;
    flex-direction: column;
    justify-content: center; 
}


header{
    background-color: #e0d6d0c5;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.568);
}
header h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Lilita One", sans-serif;
    color:#512f19;
    font-size: 2.8em;  
    text-shadow: 1px 1px 1px rgba(249, 245, 245, 0.363);
}

section input{ 
    width: 300px;
    border: none;
    padding:10px;
    border-radius: 20px;
    margin-top: 10px;
    color: #45474B;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.507);

}

section button{
    margin-left: 5px;
    border-radius: 20px;
    border: none;
    background-color: #271207;
    padding: 0.5em;
    color: rgba(255, 255, 255, 0.909);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.808);
}
section button:hover{
    background-color: #512f19;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.701);
    color:white ;
    
}

.resultado-pesquisa{
    max-width: 600px ;
    min-width: 320px;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
}

.item-resultados{
    background-color: rgba(255, 255, 255, 0.92);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.384);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    text-indent: 1em;
    line-height: 1.5em;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Ajuste a altura conforme necessário */
  }
  
aside img {
    width: 280px; 
    border-radius: 10px;/* Ajuste a largura conforme necessário */
  }

h2{
    font-family: "Concert One", sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    color: #512f19;

}

a{
    text-decoration: none;
    color: #512f19;
    font-style: italic;
}

a:hover{
    color: black;
}



footer{
    background-color: #512f19;
    color: white;
    padding-top: 10px; /* Espaçamento interno */
    width: 100%; 
    position: fixed; 
    bottom: 0;   

}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;

}

.site{
    color: white;
}